
.beta-number-div{
    height: 15rem;
    width: 30rem;
    background-color: #b4b3b3;
    border-radius: 1rem;
}

.beta-black{
    background-color: black;
    height: 40px;
    margin-top: 40px;
}

.beta-cvc-style{
    background-color: grey;
    margin: 20px 50px;
    border-radius: 5px;
}

.beta-p-style{
    padding: 3px;
    color: darkgrey;
}